{% extends 'blog/base.html' %}
<html>
<title> the project mmt </title>
<head> The Proj.MMT
  <meta name="viewport" content="initial-scale=1.0">
</head>
<body>
<div class="content container">
			<div class="row">
				<div class="col-md-8">
                    <a><h2> About Project MNT</h2></a>
                    <a><h4> 여행지와 영화를 엮어 지도에 나타내고자 합니다. </h4></a>
                    <br>
                    <a> <h3> 개발자 </h3>
                    <h4> JADE </h4>
                    <h5> 기반 기술 : Django, HTML, Javascript </h5>
                     출력이 되나요오오
                    </a>
                </div>
            </div>
</div>
<div class="text-info">
    하바나웅나나
</div>
</body>
</html>
